.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.bg-blue {
  background-color: #1e40af; /* Blue */
}

.bg-green {
  background-color: #10b981; /* Green */
}

.bg-red {
  background-color: #ef4444; /* Red */
}

.bg-yellow {
  background-color: #f59e0b; /* Yellow */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 300px;
}
